@media(max-width: 980px) {
    :root {
        --sl-width: 72px;
        --sl-height: 50px;
    }

    * {
        font-size: 1.5rem !important;
    }

    h1 {
        font-size: 2rem !important;
    }

    h3{
        font-size:  1.8rem !important;
    }
    
    h4 { 
        font-size: 1.7rem !important;
    }

    .skill-icon{
        width:140px !important;
        height: 140px !important;
    }

    .profile-data {
        flex-direction: column-reverse;
    }

    .profile-data .col-6 {
        width: 100%;
    }

    .container{
        max-width:880px !important
    }

    .portfolio > div{
        width: 750px !important;
    }

    .portfolio > div .card-title{
        font-size: 2rem !important;
    }

    #footer-vertical-rule {
        display: none !important;
    }

    #footer-content{
        flex-direction: column;
        margin: 0;
    }

    #footer-content > .footer-col {
        width: 90% !important;
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
    }

    #footer-content > .footer-col > h3{
        font-size: 2rem !important;
    }
}

svg {
    width: 1.3rem;
    height: 1.3rem
}

.footer-col {
    width: 45% !important;
}

.footer-vertical-rule {
    width: 3px !important;
}

.profile-pic {
    border-radius: 50%;
    width: 75px !important;
    height: 75px !important;
    border: 2px white solid;
}

.skill-icon{
    width:70px;
    height: 70px;
    transition: .2s;
}

.skill-icon:hover{
    border-radius: 5px;
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
}


.portfolio > div{
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 9px 0px #000000; 
    box-shadow: 3px 3px 9px 0px #000000;
}