@media(max-width: 980px) {
    :root {
        --sl-width: 62px;
        --sl-height: 40px;
    }

    * {
        font-size: 1.2rem !important;
    }

    h1 {
        font-size: 2rem !important;
    }

    footer h3 {
        font-size: 1.7rem !important;
    }

    svg {
        width: 1.5rem;
        height: 1.5rem
    }

    .profile-data {
        flex-direction: column-reverse;
    }

    .profile-data .col-6 {
        width: 100%;
    }
}

svg {
    width: 1.3rem;
    height: 1.3rem
}

.footer-col {
    width: 45% !important;
}

.footer-vertical-rule {
    width: 3px !important;
}

.profile-pic {
    border-radius: 50%;
    width: 75px !important;
    height: 75px !important;
    border: 2px white solid;
}

.skill-icon{
    width:70px;
    height: 70px;
    transition: .2s;
}

.skill-icon:hover{
    border-radius: 5px;
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
}


.portfolio > div{
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 9px 0px #000000; 
    box-shadow: 3px 3px 9px 0px #000000;
}